<ion-view title="{{ room_ctrl.current_room }}" ng-controller="CheckInternshipController as chk_ctrl">
    <header class="bar bar-header bar-positive">
        <button class="button button-assertive" ng-click="leaveRoom()">Back</button>
        <h1 class="title">Internship Details</h1>
        <button class="button button-assertive" ng-click="showPopup()">Show other</button>
    </header>
    <ion-content class="has-header padding">
        <div>
            <h2 ng-show="internship.ref">
                    <p>
                        References: {{internship.ref}}
                    </p>
                    <p>
                        Description: {{internship.text}}
                    </p>
                    <p>
                        Exchanged: {{internship.exchanged}}
                    </p>
            </h2>
            <button class="button button-assertive" ng-click="showEditPopup()" ng-show="internship.ref">Edit</button>
        </div>
    </ion-content>
    <footer class="bar bar-footer bar-positive item-input-inset has-content">
        <label class="item-input-wrapper">
            <input type="text" id="message" name="message" ng-model="chk_ctrl.message" placeholder="Type message">
        </label>
        <a class="button button-icon icon ion-android-send" ng-click=""></a>
    </footer>
</ion-view>