<ion-view title="{{ room_ctrl.current_room }}" ng-controller="EditSpecializationsController as edit_spl_ctrl">
    <header class="bar bar-header bar-positive">
        <button class="button button-assertive" ng-click="leaveRoom()">Back</button>
        <h1 class="title">Edit Specializations</h1>
        <button class="button button-assertive" ng-click="new()">Add</button>
    </header>
    <ion-content class="has-header padding">
        <ion-list show-delete="data.new" show-reorder="data.showReorder" can-swipe="listCanSwipe">
            <ion-item ng-repeat="item in edit_spl_ctrl.specializationItems">
                <h2>{{item.name}}</h2>
                <p>Current:{{item.current}} Target:{{item.target}}</p>
                <ion-option-button class="button-assertive" ng-click="delete(item)">
                    Delete
                </ion-option-button>
                <ion-option-button class="button-info" ng-click="edit(item)">
                    Edit
                </ion-option-button>
                <ion-delete-button class="ion-minus-circled" ng-click="delete(item)">
                </ion-delete-button>
                <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)">
                </ion-reorder-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <footer class="bar bar-footer bar-positive item-input-inset has-content">
        <label class="item-input-wrapper">
            <input type="text" id="message" name="message" ng-model="edit_spl_ctrl.message" placeholder="Type message">
        </label>
        <a class="button button-icon icon ion-android-send" ng-click=""></a>
    </footer>
</ion-view>
