<ion-view title="{{ room_ctrl.current_room }}" ng-controller="ListInternshipsController as lst_ctrl">
    <header class="bar bar-header bar-positive">
        <button class="button button-assertive" ng-click="leaveRoom()">Back</button>
        <h1 class="title">Internships State</h1>
    </header>
    <ion-content class="has-header padding">
        <div class="row" ng-repeat="item in lst_ctrl.internships" ng-if="$index % 4 === 0">
            <div class="col col-25 internship-grid intership-grid-non-exchanged" ng-if="$index < lst_ctrl.internships.length && !lst_ctrl.internships[$index].exchanged" ng-click="showInternship(lst_ctrl.internships[$index].ref)">
                {{lst_ctrl.internships[$index].ref}}
            </div>
            <div class="col col-25 internship-grid intership-grid-exchanged" ng-if="$index < lst_ctrl.internships.length && lst_ctrl.internships[$index+1] && lst_ctrl.internships[$index].exchanged" ng-click="showInternship(lst_ctrl.internships[$index].ref)">
                {{lst_ctrl.internships[$index].ref}}
            </div>
            <div class="col col-25 internship-grid intership-grid-non-exchanged" ng-if="$index < lst_ctrl.internships.length && !lst_ctrl.internships[$index+1].exchanged" ng-click="showInternship(lst_ctrl.internships[$index+1].ref)">
                {{lst_ctrl.internships[$index+1].ref}}
            </div>
            <div class="col col-25 internship-grid intership-grid-exchanged" ng-if="$index < lst_ctrl.internships.length && lst_ctrl.internships[$index+1] && lst_ctrl.internships[$index+1].exchanged" ng-click="showInternship(lst_ctrl.internships[$index+1].ref)">
                {{lst_ctrl.internships[$index+1].ref}}
            </div>
            <div class="col col-25 internship-grid intership-grid-non-exchanged" ng-if="$index < lst_ctrl.internships.length && lst_ctrl.internships[$index+2]&& !lst_ctrl.internships[$index+2].exchanged" ng-click="showInternship(lst_ctrl.internships[$index+2].ref)">
                {{lst_ctrl.internships[$index+2].ref}}
            </div>
            <div class="col col-25 internship-grid intership-grid-exchanged" ng-if="$index < lst_ctrl.internships.length && lst_ctrl.internships[$index+2] && lst_ctrl.internships[$index+2].exchanged" ng-click="showInternship(lst_ctrl.internships[$index+2].ref)">
                {{lst_ctrl.internships[$index+2].ref}}
            </div>
            <div class="col col-25 internship-grid intership-grid-non-exchanged" ng-if="$index < lst_ctrl.internships.length && lst_ctrl.internships[$index+3] && !lst_ctrl.internships[$index+3].exchanged" ng-click="showInternship(lst_ctrl.internships[$index+3].ref)">
                {{lst_ctrl.internships[$index+3].ref}}
            </div>
            <div class="col col-25 internship-grid intership-grid-exchanged" ng-if="$index < lst_ctrl.internships.length && lst_ctrl.internships[$index+3] && lst_ctrl.internships[$index+3].exchanged" ng-click="showInternship(lst_ctrl.internships[$index+3].ref)">
                {{lst_ctrl.internships[$index+3].ref}}
            </div>
        </div>
        
    </ion-content>
    <footer class="bar bar-footer bar-positive item-input-inset has-content">
        <label class="item-input-wrapper">
            <input type="text" id="message" name="message" ng-model="lst_ctrl.message" placeholder="Type message">
        </label>
        <a class="button button-icon icon ion-android-send" ng-click=""></a>
    </footer>
</ion-view>
