<ion-view title="Login" ng-controller="HomeController as home_ctrl">
 	<header class="bar bar-header bar-positive">
 		<h1 class="title">Login</h1>
 	</header>
 	
  <ion-content class="has-header padding">
	
	<div class="list">
		<label class="item item-input">
			<input type="text" ng-model="home_ctrl.username" placeholder="User name">
		</label>
		<label class="item item-input">
			<input type="password" ng-model="home_ctrl.password" placeholder="Password">
		</label>

		<div class="padding">
			<button class="button button-positive button-block" ng-click="login(home_ctrl.username, home_ctrl.password)">Enter</button>
		</div>
	</div>

  </ion-content>

</ion-view>