sendTextMessage()<ion-view title="{{ room_ctrl.current_room }}" ng-controller="SpecializationListController as spl_ctrl">
    <header class="bar bar-header bar-positive">
        <button class="button button-assertive" ng-click="leaveRoom()">Back</button>
        <h1 class="title">Current State</h1>
        <button class="button button-assertive" ng-click="showPopup()">Exchange</button>
    </header>
    <ion-content class="has-header padding">
        <ion-list can-swipe="data.listCanSwipe">
            <ion-item ng-repeat="item in spl_ctrl.specializationItems">
                <div>
                    <h2>
                    <div class="spc-item-title">
                        {{item.name}}
                    </div>
                    <div class="spc-item-number">
                        You need {{item.target - item.current}} more
                    </div>
                    </h2>
                </div>
                <p>Current:{{item.current}} Target:{{item.target}}</p>
                <ion-option-button class="button-info" ng-click="edit(item)">
                    Edit
                </ion-option-button>
                <ion-delete-button class="ion-minus-circled" ng-click="spl_ctrl.specializationItems($index, 1)">
                </ion-delete-button>
                <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)">
                </ion-reorder-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <footer class="bar bar-footer bar-positive item-input-inset has-content">
        <label class="item-input-wrapper">
            <input type="text" id="message" name="message" ng-model="spl_ctrl.message" placeholder="Type message">
        </label>
        <a class="button button-icon icon ion-android-send" ng-click="sendTextMessage()"></a>
    </footer>
</ion-view>
