doctype html
html(lang="en")
    head
        title Management of Internships Microservice
        link(href='/css/style.min.css', rel='stylesheet')

    body
        nav.navbar.navbar-default.navbar-fixed-top
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/') MIS
            #navbar.collapse.navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href='/index') Home
                li
                  a(href='/internships') Internships
                li
                  a(href='/students') Students
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | Add 
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='/internships/new') Internship
                    li
                      a(href='/students/new') Student
            // /.nav-collapse
        // Begin page content
        .container
            block content

        footer.footer
          .container
            p.text-muted Lidia Fernández Garcés for TFG.
        
        script(src='https://code.jquery.com/jquery-2.1.3.js', type='text/javascript')
        script(src='/js/lib/libs.js', type='text/javascript')
        script(src='/socket.io/socket.io.js', type='text/javascript')
        script(src='/js/app.js', type='text/javascript')
