doctype html
html(lang="en")
    head
        title Management of Internships Microservice
        link(href='/css/style.min.css', rel='stylesheet')

    body
        .container
          #login-view
              form.form-signin
                h2.form-signin-heading Login
                label.sr-only(for='inputEmail') Username
                input#inputEmail.form-control(type='test', placeholder='Email address', required='', autofocus='', name="username")
                label.sr-only(for='inputPassword') Password
                input#inputPassword.form-control(type='password', placeholder='Password', required='', name="password")
                p.form-signin-error#errorMessage
                button#submitUser.btn.btn-lg.btn-secondary.btn-block Login
        
        script(src='https://code.jquery.com/jquery-2.1.3.js', type='text/javascript')
        script(src='/js/lib/libs.js', type='text/javascript')
        script(src='/socket.io/socket.io.js', type='text/javascript')
        script(src='/js/app.js', type='text/javascript')
