<div class="col-md-4">
    <h1>Register</h1>
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <form class="form" ng-submit="register()">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username" ng-model="registerForm.username" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" ng-model="registerForm.password" required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" ng-model="registerForm.email" required>
        </div>
        <div class="form-group">
            <label>Center</label>
            <input type="text" class="form-control" name="center" placeholder="none" ng-model="registerForm.center" required>
        </div>
        <div class="form-group">
            <label>Delegation</label>
            <input type="text" class="form-control" name="delegation" placeholder="none" ng-model="registerForm.delegation" required>
        </div>
        <div class="form-group">
            <label>Role</label>
            <select name="role" class="form-control" ng-model="registerForm.role">
                <option value="secretary">General Secretary</option>
                <option value="delegation">Delegation</option>
                <option value="center">Center</option>
                <option value="representative">Representative</option>
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-default" ng-disabled="disabled">Register</button>
        </div>
    </form>
</div>