ion-content {
    margin-bottom: 50px !important;
}

.no-border {
	border: none;
}

.user {
    font-weight: bold;
}

.current-user {
	float: right;
    clear: both;
}

.not-current-user {
	float: left;
	clear: both;
}

.current-user .details {
	background-color: #72CBFF;
}

.not-current-user .details {
    background-color: #DCDCDC;
}

.spc-item-title{
	float: left;
    clear: both;
}

.spc-item-number{
	float: right;
	clear: both;
}

.internship-grid{
	font-size:16px;
	height: 100%;
	background-color: #F9FAFB;
    padding: 0px;
    margin: 2px;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align: center;
}
.intership-grid-non-exchanged{
	font-size:16px;
	height: 100%;
	background-color: #F9FAFB;
    padding: 5px;
    margin: 2px;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align: center;
}
.intership-grid-exchanged{
	font-size:16px;
	height: 100%;
    padding: 5px;
    margin: 2px;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align: center;
	background-color: #ff8080;
}